<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916076944756-e6peb8c24mtbi0hdclo4lm63lj7l3otg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916076944756-e6peb8c24mtbi0hdclo4lm63lj7l3otg</string>
	<key>API_KEY</key>
	<string>AIzaSyAVJR1EWn06Olbyo5KgPH9mwcnZMZpgINw</string>
	<key>GCM_SENDER_ID</key>
	<string>916076944756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kunkailin.fridgego</string>
	<key>PROJECT_ID</key>
	<string>fridge-go-new</string>
	<key>STORAGE_BUCKET</key>
	<string>fridge-go-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916076944756:ios:db865123fbd2cff7b16021</string>
</dict>
</plist>